#triptych.modal.fade.bd-example-modal-xl(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        h5#triptychLabel.modal-title Name of the piece?
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      #triptych-body.modal-body
        .row
          .col-lg-2
            .triptych-img
              img.triptych-fake-img
          .col-lg-8
            .triptych-img
              img.triptych-fake-img
          .col-lg-2
            .triptych-img
              img.triptych-fake-img
        .row
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
