extends layout

block content
  script(src='/js/lib/jquery.min.js')
  script(src='/js/home.js')


  h1 Create
  p.lead Here's some tools or something
  hr
  include partials/triptych
  div#image-row-wrapper